<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>VaadinApplication</servlet-name>
        <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>ua.netcrackerteam.GUI.MainPage</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FillForm</servlet-name>
        <servlet-class>ua.netcrackerteam.application.FillForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaadinApplication</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaadinApplication</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillForm</servlet-name>
        <url-pattern>/FillForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file/>
    </welcome-file-list>
    <!--Test servlet for testing session   url - http://localhost:8080/interview/time -->
    <servlet>
        <servlet-name>TimeSessionServlet</servlet-name>
        <servlet-class>ua.netcrackerteam.test.TimeSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeSessionServlet</servlet-name>
        <url-pattern>/time</url-pattern>
    </servlet-mapping>
</web-app>
