<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
      <property name="hibernate.connection.url">jdbc:oracle:thin:@85.238.104.112:8080:xe</property>
      <property name="hibernate.connection.username">system</property>
      <property name="connection.password">oracle</property>
      <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
      <property name="hibernate.current_session_context_class">thread</property>
      <property name="show_sql">false</property>

      <mapping class="ua.netcrackerteam.DAO.Entities.Form" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Contact" />
      <mapping class="ua.netcrackerteam.DAO.Entities.ContactCategory" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Institute" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Advert" />
      <mapping class="ua.netcrackerteam.DAO.Entities.AdvertCategory" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Cathedra" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Faculty" />
      <mapping class="ua.netcrackerteam.DAO.Entities.UserList" />
      <mapping class="ua.netcrackerteam.DAO.Entities.UserCategory" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Branch" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Knowledge" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Interview" />
      <mapping class="ua.netcrackerteam.DAO.Entities.InterviewRes" />
      <mapping class="ua.netcrackerteam.DAO.Entities.Status" />
      <mapping class="ua.netcrackerteam.DAO.Entities.BranchCategory" />
      <mapping class="ua.netcrackerteam.DAO.Entities.AuditInterview" />
      <mapping class="ua.netcrackerteam.DAO.Entities.ActionCategories" />
      <mapping class="ua.netcrackerteam.DAO.Entities.HrTempInfo" />

  </session-factory>
</hibernate-configuration>