 @import url(../runo/styles.css);
.header {
	background: white url('images/logo.png') no-repeat 20px center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:5px;
	width: 800px;
	height: 110px;
}

.header .v-button span {
	text-decoration: none;
        padding-bottom: 10px;
}
.user {
      background: #F4F3F1;
}
.user .v-button span {
	text-decoration: none;
}
.v-app {
    background: white;
}

.header-hr {
	width:100% !imprtant;
}

.header-hr .header-buttons {
	left: 1230px;
}

.header-buttons {
	position: relative;
	left: 650px;
	top: 80px;
}

.header-buttons .v-button {
	margin: 0px 10px;
}

.form-info {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #bdbdbd;
	height: auto;
	width: 798px;
	height: auto;
	background: white;
}

.form-info p {
	padding: 0px 10px;
}

.infotext {
	padding: 0px 20px !important;
	margin: 8px 0px;
}

.v-tabsheet-deco {
	height: 10px;
        background: white;
	margin-left: 9px;
	overflow: visible;
}
.v-tabsheet-deco:before {
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: -9px;
	background: white;
}
.v-tabsheet-content {
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #bdbdbd;*/
}
.body {
	  background: #c9dde8;
}
.body .v-panel {
	padding-left: 0px;
	padding-top: 0px;
}
.emblem {
	padding-left: 100px;
}

.v-textfield-error {
    border-color: red;
    background: #FFDFDF;
}

.v-label-errorLable{
    color: red;
}


