 @import url(../runo/styles.css);
.header {
      background: #ccc url(images/header.png) repeat-x bottom left;
}
.header .v-button span {
	text-decoration: none;
}
.user {
      background: #F4F3F1;
}
.user .v-button span {
	text-decoration: none;
}
.v-tabsheet-deco {
	height: 10px;
        background: white;
	margin-left: 9px;
	overflow: visible;
}
.v-tabsheet-deco:before {
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: -9px;
	background: white;
}
.v-tabsheet-content {
        border: 0;
}
.body {
	  background: white;
}
.body .v-label {
	padding-left: 2%;
	padding-right: 2%;
}
.body .v-panel {
	padding-left: 0px;
	padding-top: 0px;
}
.emblem {
	padding-left: 150px;
	padding-top: 10px;
        cursor : pointer;
}




