 @import url(../runo/styles.css);
.header {
      background: #ccc url(images/header.png) repeat-x bottom left;
}
.header .v-button span {
	text-decoration: none;
}
.body {
	  background: white;
}
.body .v-label {
	padding-left: 2%;
	padding-right: 2%;
}
.body .v-panel {
	padding-left: 0px;
	padding-top: 0px;
}
.emblem {
	padding-left: 150px;
	padding-top: 10px;
}



